.weather-report {
    &__heading {
        color: #315494;
    }
    &__list {
        li {
            padding-bottom: 1rem;
            color: #0095ff;
        }
    }
    &__display-text {
        color: red;
    }
}