<mat-card>
    <mat-card-content>
        <h2 class="weather-report__heading">Weather Report For country - <span>{{country.countryName}}</span></h2>
        <ul class="weather-report__list" *ngIf="report">
            <li>Temperature: {{report?.main?.temp}}</li>
            <li>pressure:{{report?.main?.pressure}}</li>
            <li>Humidity:{{report?.main?.humidity}}</li>

        </ul>
        <h4 class="weather-report__display-text" *ngIf="!report">{{noWeatherData}}</h4>
    </mat-card-content>
</mat-card>