<mat-sidenav-container [class.m2app-dark]="isDarkTheme">
    <mat-toolbar color="primary">
        <button mat-button class="app-menu-button">
        <i class="material-icons">menu</i>
    </button>
        <span class="title">Touch Note</span>
    </mat-toolbar>

</mat-sidenav-container>

<router-outlet></router-outlet>