/// VARIABLES DECALRATION
$font-size: 1.6rem;
$font-family: 'Franklin Gothic Medium';
$font-weight: 600;
$display-flex: flex;
$flex-direction-row: row;
/// CLASSES
.country-list {
    display: $display-flex;
    flex-direction: $flex-direction-row;
    &__heading {
        font-size: $font-size;
        font-family: $font-family;
        font-weight: $font-weight;
    }
    &__button {
        padding-left: 2rem;
    }
    &__warning {
        background-color: yellow;
        width: 20%;
    }
}