<mat-card>
    <mat-card-content>
        <h2 class="country-list__heading">Select Country To Check Wheather Report</h2>
        <div class="country-list">
            <mat-form-field>
                <mat-select placeholder="country" [(ngModel)]="selectedCountry" name="country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{country.countryName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="country-list__button">
                <button mat-raised-button color="primary" [disabled]="!selectedCountry" (click)="getweatherReport()">Check Report</button>
            </div>
        </div>
        <div class="country-list__warning" *ngIf="!countries.length">
            <strong>Warning!</strong> {{coutriesListEmpty}}
        </div>
        <p> Selected Country is: </p>
        <div *ngFor="let item of selectedCountry| keyvalue">
            <span *ngIf="item.key ==='countryId' || item.key === 'countryName'">
                <ul>
                    <li>
                        {{ item.key }} - {{ item.value }}
                    </li>
                </ul>
            </span>
        </div>
    </mat-card-content>
</mat-card>

<div>
    <app-weather *ngIf="showReport" [country]="selectedCountry" [report]="weatherReport"></app-weather>
    <mat-progress-bar *ngIf="showloader" mode="indeterminate"></mat-progress-bar>
</div>